.search-bar {
  padding: 16px;
  width: 90%;
  margin:auto;
  margin-top: 32px;
}

table {
  border: thin solid;
  width: 90%;
  color: white;
  border-radius: 16px;
  align-items: center;
  margin: auto;
  margin-top: 16px;
}

.pagination {
  padding: 16px;
  margin: auto;
}

tr {
 border-bottom: thin solid;
}

th {
  background-color: #555;
  color: #fff;
}

th,td {
  padding: 0.5em 1em;
  white-space: nowrap;
  overflow: hidden;
  //text-overflow: ellipsis;
  overflow-wrap: break-word;
}

td {
max-width: 10vh;
content: fit;
}

.s-col{
  width: 8px;
}
